@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap'); 

* {
    font-family: 'Ubuntu Condensed', sans-serif; 
    color: rgb(240, 240, 240); 
    font-size: 35px;
} 

body {
    display: flex; 
    justify-content: center; 
    height: 100vh;
    align-items: center; 
    background-color: rgb(243, 208, 161);
}

h1 {
    padding: 10px;
}

.departures {
    background-color: rgb(40, 40, 43);
    border-radius: 10px; 
    padding: 10px;
} 

.departures table {
    background-color: rgb(57, 61, 71);
    text-align: left;
} 

.departures table div {
    border: solid 4px rgb(26, 26, 26); 
    background-color: rgb(0, 0, 0);
    min-width: 20px;
    height: 40px;
    float: left;
}