@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap'); 

* {
    font-family: 'Ubuntu Condensed', sans-serif; 
    color: rgb(240, 240, 240); 
    font-size: 35px;
} 

body {
    display: flex; 
    justify-content: center; 
    height: 100vh;
    align-items: center; 
    background-color: rgb(243, 208, 161);
}

h1 {
    padding: 10px;
}

.departures {
    background-color: rgb(40, 40, 43);
    border-radius: 10px; 
    padding: 10px;
} 

.departures table {
    background-color: rgb(57, 61, 71);
    text-align: left;
} 

.departures table div {
    border: solid 4px rgb(53, 57, 53); 
    background-color: rgb(27, 18, 18);
    float: left; 
    height: 40px; 
    min-width: 20px;
}

.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#time {
    width: 160px;
} 

#destination {
    width: 700px;
}

#flight {
    width: 205px;
}

#gate {
    width: 135px;
}

#remarks {
    width: 260px;
}